.article {
    position: relative;
}

.articles-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    list-style: none;
    padding: 0;
}

.image-container {
    overflow: hidden; 
    line-height: 0;
}

.pins-container {
    position: absolute;
    transform: rotate(17deg);
    width: 80px;
    right: -20px;
    top: 4px;
    z-index: 2;
}

.pins-wip {
    width: 100%;
    height: auto;
}

.article-image {
    width: 100%; 
    height: 337px; 
    object-fit: cover;
    transition: transform 0.2s ease; 
}

.image-container:hover .article-image {
    transform: scale(1.05);
}

.article-title {
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: black;
}

.article-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 16px;
    color: #666;
    margin: 0;
    width: 100%;
    font-weight: 300;
}

@media (max-width: 768px) {
    .articles-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .articles-list {
        grid-template-columns: 1fr;
    }
}
