  .content-left-align {
    text-align: left;
    width: 100%;
    max-width: 1200px;
  }  
  
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin-right: 0.25em;
    padding: 0.5em 1em; 
    border-radius: 9999px; 
    font-size: 0.875em; 
    border: 1px solid black;
  }

  .tag:hover {
    cursor: pointer; 
  }

  .main-img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
  }

  .description {
    font-size: 18px;
  }