  .content-left-align {
    text-align: left;
    width: 100%;
    max-width: 1200px;
  }  
  
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin-right: 0.25em;
  }

  .main-img {
    width: 100%; 
    height: 400px; 
    object-fit: cover;
  }

  .description {
    font-size: 18px;
  }