---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/homepage.css'
const pageTitle = "Paul Mazeau";
const pageDescription = "Explorez le monde du design de produits et du développement avec Paul Mazeau. Plongez dans mes aventures de design, développement et découvertes sur mon blog dédié à l'innovation et à la créativité.";
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="hero-copy">
    <p>
      Salut! Je suis Paul Mazeau, je développe et design des trucs. J'écris beaucoup et je bois trop de thé.
      Passionné par les nouvelles technologies sous tous ses aspects: design, techniques et humains. Créateur de l’application mobile MyColoc fusionnée avec Coloc.fr.
      Vous pouvez trouver mes projets <a href="/projets" class="link">ici</a> et tout ce que j'écris sur mon blog juste <a href="/blog" class="link">là.</a>
    </p>
  </div>
  <div class="container">
    <div class="gallery">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </div>
  
  </BaseLayout>