---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/homepage.css'
const pageTitle = "Paul Mazeau";
---
<BaseLayout>
  <div class="hero-copy">
    <p>
      Salut! Je suis Paul Mazeau, je <span>développe</span> et <span>design</span> des trucs. J'écris beaucoup et je bois trop de thé.
      Passionné par les nouvelles technologies sous tous ses aspects: design, techniques et humains. Créateur de l’application mobile MyColoc fusionnée avec Coloc.fr.
      Vous pouvez trouver mes projets <span><a href="/projets" class="link">ici</a></span> et tout ce que j'écris sur mon blog juste <a href="/blog" class="link">là.</a>
    </p>
  </div>
  <div class="container">
    <div class="gallery">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </div>
  <script>
    import '../scripts/script'
  </script>
  
  </BaseLayout>